<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/header :: enableBoot"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/customUrl}" method="post">

    <label th:for="login">Логин</label>
    <input id="login" type="text" name="login" required><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="pass" required>
    <button type="submit">Войти</button>
    <input  type = "hidden"
            th:name = "${_csrf.parameterName}"
            th:value = "${_csrf.token}" />


</form>


</body>
</html>