<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
    <!--<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-grid.css.map">
    <script src="resources/js/bootstrap.js"></script>
    <script src="resources/js/bootstrap.bundle.js"></script>
    <script src="resources/js/bootstrap.bundle.js.map"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <form th:action="@{logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</head>
<body>
<div class="container">
    <form id="filter" action="/filter" method="get" th:object="${filter}">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="gameName">Название игры</label>
                <input placeholder="Введи название" class="form-control" id="gameName" name="name" th:type="text"
                       th:field="*{name}"/>
            </div>
            <div class="form-group col-md-3">
                <label for="language">Выберите язык</label>
                <select class="form-control" th:field="*{language}" id="language">

                    <option th:each="languageOp: ${languages}" th:text="${languageOp}" th:value="${languageOp}">
                        Lang
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="ageRestriction">Возрастное ограничение</label>
                <input class="form-control" type="number" min="0" th:field="*{ageRestriction}"
                       step="1" id="ageRestriction" th:value="*{ageRestriction}" name="ageRestrictions">
            </div>
            <div class="form-group col-md-3">
                <label for="costIn">Стоимость</label>
                <input placeholder="Стоимость в рублях" class="form-control" type="number" min="0" th:field="*{cost}"
                       th:value="*{cost}" name="cost"
                       step="1" id="costIn">
            </div>
        </div>
        <div class="form-group text-center">
            <p><input class="btn btn-success" type="submit" value="Фильтрация"></p>
        </div>
        <label for="numberOfRows">Количество записей:</label>
        <input name="numberOfRows" type="number" min="5" max="50" step="5" id="numberOfRows"
               th:field="*{numberOfRows}" th:value="*{numberOfRows}">

        <button th:if="${games.hasPrevious()}"
                type="submit"
                th:text="${games.previousPageable().getPageNumber()+1}"
                name="nextPage"
                th:field="*{nextPage}"
                th:value="${games.previousPageable().getPageNumber()}">
        </button>
        <button type="submit"
                th:text="${games.getNumber()+1}"
                name="nextPage"
                disabled>
        </button>
        <button th:if="${games.hasNext()}"
                type="submit"
                name="nextPage"
                th:text="${games.nextPageable().getPageNumber()+1}"
                th:value="${games.nextPageable().getPageNumber()}"
                th:field="*{nextPage}">
        </button>
    </form>


    <table class="table table-bordered table-hover text-center thead-dark table-striped" border="1">
        <tr>
            <td id="name">Название</td>
            <td id="rules">Правила</td>
            <td id="cost">Стоимость</td>
            <td id="age">Возрастное ограничение</td>
            <td id="number">Количество игроков</td>
            <td id="lang">Язык</td>
            <td id="provider">Издатель</td>
        </tr>
        <tr th:each="game: ${games}">
            <td th:text="${game.name}" th:field="*{name}"></td>
            <td th:text="${game.rules}"></td>
            <td th:text="${game.cost}"></td>
            <td th:text="${game.ageRestrictions}"></td>
            <td th:text="${game.numberOfPlayers}"></td>
            <td th:text="${game.language}"></td>
            <td th:text="${game.provider.name}"></td>
            <td>
                <form th:action="@{/createOrder}" method="get" >
                    <input type="hidden" th:value="${game.id}" name="id">
                   <!-- <input type="hidden" th:value="${game.rules}" th:field="*{rules}">
                    <input type="hidden" th:value="${game.cost}" th:field="*{cost}">
                    <input type="hidden" th:value="${game.ageRestrictions}" th:field="*{ageRestrictions}">
                    <input type="hidden" th:value="${game.numberOfPlayers}" th:field="*{numberOfPlayers}">
                    <input type="hidden" th:value="${game.language}" th:field="*{language}">
                    <input type="hidden" th:value="${game.provider}" th:field="*{provider}">-->

                    <button class="btn btn-info" type="submit">Выбрать</button>
                </form>


            </td>
        </tr>
    </table>

</div>
</body>
</html>