<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<p th:text="${user.name}"></p>
<p th:text="${user.login}"></p>
<p th:text="${user.dateOfBirthday}"></p>
<p th:text="${user.address.city}"></p>
<p th:text="${user.address.house}"></p>
<p th:text="${user.address.street}"></p>
<p th:text="${user.address.apartment}"></p>
<p th:text="${user.email}"></p>
<ul th:each="game: ${user.games}">
    <li th:text="${game.name}"></li>
</ul>
<form action="/userConfigurePage" method="get">
    <input type="hidden" th:object="${user}">
    <button type="submit">Изменить</button>
</form>

</body>
</html>