<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}"></title>
    <th:block th:replace="fragments/header :: enableBoot"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:action="@{'/edit/'+${user.id}}" method="post" >
    <label for="name">Name</label>
    <input type="text" id="name" th:text="${user.name}" th:value="${user.name}"  name="name"/><br>

    <label for="login">login</label>
    <input type="text" id="login" th:text="${user.login}" th:value="${user.login}"  name="login" disabled/><br>

   <!-- <label for="dateOfBirthday">dateOfBirthday</label>
    <input type="date" id="dateOfBirthday" th:text="${user.dateOfBirthday}" th:value="${user.dateOfBirthday}" name="dateOfBirthday"/><br>
-->
    <label for="city">city</label>
    <input type="text" id="city" th:text="${user.address.city}" th:value="${user.address.city}"  name="address.city" disabled/><br>

    <label for="house">house</label>
    <input type="text" id="house" th:text="${user.address.house}" th:value="${user.address.house}" name="address.house" disabled/><br>

    <label for="street">street</label>
    <input type="text" id="street" th:text="${user.address.street}" th:value="${user.address.street}" name="address.street" disabled/><br>

    <label for="apartment">apartment</label>
    <input type="text" id="apartment" th:text="${user.address.apartment}" th:value="${user.address.apartment}"  name="address.apartment" disabled/><br>

    <label for="email">email</label>
    <input type="email" id="email" th:text="${user.email}" th:value="${user.email}"  name="email" disabled/><br>
    <input  type = "hidden"
            th:name = "${_csrf.parameterName}"
            th:value = "${_csrf.token}" />
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>