<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <th:block th:replace="fragments/header :: enableBoot"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<span>Страница админа</span>
<ul>
    <li>
        <a href="/AllUsers">Показать всех пользователей</a>
    </li>
    <li>
        <a href="/AllProvider">Показать всех поставщиков</a>
    </li>
    <li>
        <a href="/AllPurchase">Показать всех заказы</a>
    </li>
</ul>
</body>
</html>